#wrap_404 {
    text-align: center;
    padding-bottom: 30px;
}

.title_404 {
    font-size: 11em;
    margin-bottom: 20px;
}

.line_1_404 {
    font-size: 2em;
    text-transform: uppercase;
    display: block;
}

.line_2_404 {
    font-size: 1.1em;
    padding-bottom: 32px;
    margin-bottom: 32px;
    display: inline-block;
}

#wrap_404 .readon {
    margin: 0;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    background: $brand-background;
    color: white;
    text-decoration: none;
}
