#notify h2{
	color:#fe980f;
}
.real-con{
	margin:30px auto;
}
#notify a img{
	width:103px;
	height:105px;
	border:1px solid #fe980f;
}
#notify .media{
	padding:5px;
	border-radius:5px;
	background-color:#F0F0E9; 
}
#notify .pro-title{
	margin-top: 5px;
	text-align: center;
	font-size:15px;
	color:#696763;
}
.pro-title a:hover{
	color:#fe980f;
}
#notify a{
	text-decoration: none;
	color:#333;
}
.each-noti{
	margin-bottom:20px;
}
.media-footer{
	color:#696763;
}
.media-heading span{
	color:#fe980f;
}
#notify i{
	color:#fe980f;
	margin-top:5px;
}
.media-footer span{
	margin-left:15px;
}
.specific-color{
	color:#fe980f;
}
#message-layout{
	margin:25px auto;
	height:650px;
	border-bottom:1px solid #f0f0e9;
}
.users-container{
	border:1px solid #F0F0E9;
}
.message-indi-con{
	height:587px;
	overflow-y:scroll;
	border:1px solid #F0F0E9;
}
.thumb-round{
	border-radius:50%;
	width:63px;
	height:65px;
	border:1px solid #F0F0E9;
}
.message-title{
	color:#fe980f;
	padding-left:28px;
	background-color: #F0F0E9;
	line-height: 60px;
	font-size: 25px;
}
.user-message{
	width:100%;
	height:100%;
	padding:15px;
	border-bottom:1px solid #F0F0E9;
}
.specific-border{
	border-right:2px solid #F0F0E9;
}
.message-active{
	background-color: #F0F0E9;
	border-bottom: 1px solid #fff;
}
.badge-style{
	background-color: #fe980f;
	margin:22px auto;
}
.email-style{
	color:#c2c2c2;
}
.message-body{
	height:475px;
	border:1px solid #F0F0E9;
	overflow-y:scroll;
}
.message-input{
	height:110px;
	width:103%;
	margin-bottom: 0px;
	border:1px solid #333;
}

.scroll{
	min-height: 100px;
	max-height: 400px;
	overflow-y: scroll; 
}

.thumbnail-round{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.message-right{
	background-color: #E5E5EA;
	padding: 10px;
	border-radius: 5px;
}
.message-left{
	background-color:  rgba(7, 128, 255, .4);;
	padding: 10px;
	border-radius: 5px;
}

.border-bottom{
	border-bottom: 1px solid #ccc;
	margin-bottom: 0px;
	border-radius: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}