.gray-background{
	background-color: #f6f7f9;
	border: 1px solid #e1e2e3; 
}
.border-top{
	border-top: 1px solid #e1e2e3; 
}

.padding-10{
	padding: 10px;
}
.margin-10{
	margin: 10px;
}
.margin-top-10{
	margin-top: 10px;
}
.profile-thumbnail{
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.border-top-dark{
	border-top: 1px solid #ccc;
}

.fix{
	position : fixed;
}

.fix-chatlist{
	position : fixed;
	right: 0;
}

.fixed-header-margin{
	margin-top: 70px;
}
.padding-left-10{
	padding-left: 10px;
}
.padding-bottom-10{
	padding-bottom: 10px;
}
.padding-top-10{
	padding-top: 10px;
}
.padding-right-10{
	padding-right: 10px;
}

.opacity-2{
	opacity: .2;
}

.label{
	display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.photo-label{
	cursor: pointer;
}

.display-none{
	display: none !important;
}

.plain a{
	color: inherit !important;
	text-decoration: none !important;
	&:hover, &:focus, &:visited{
		color: inherit !important;
		text-decoration: none !important;
	}
}