.navbar-header {
    // padding: 10px;
}

.navbar--green {
    background-color: $brand-background;
}

.navbar-brand__image__container{
    padding-top: 1px;
    padding-bottom: 1px;
}
.navbar-brand__image {
    height  : 100%;
}

.navbar-brand__name {
}

.navbar-default .navbar-brand {
    font-size   : 38px;
    font-family : Sansita;
    color       : $brand-color;
    // padding-left: 30px;
}

.user__avatar {
    width   : 40px;
    position: absolute;
    top     : 5px;
    left    : 0;
}

.user__name {
    margin-left: 42px;
}

.navbar-default .navbar-nav > li > a {
    color    : white;
    font-size: 20px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: lighten($brand-background, 10%);
    color: #555;
}
