body{
	background-color: #f7f7f7;
}

#friends-list{
	margin:20px 0px;
}
.padding-css{
	padding:10px;
}
.friend-indi{
	border:1px solid #ccc;
	border-radius:5px;
}

.friend-name h3{
	color:$brand-background;
	font-size:20px;
	text-align:center;
}

.friend{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
}

.post-image{
	background-repeat: no-repeat;
	background-size: contain;
	width: 300px;
	height: 400px;
	background-position: center;
}

